<div class="item">
  <div style="display: flex; justify-content: space-between">
    <div (click)="toggleInfo()">{{ data.title }}</div>
    <!--
      <button class="btn btn-info" (click)="toggleInfo()">Подробнее</button>
    -->
      <form #addForm="ngForm" 
        ng-submit="addItem(addForm.value)"
        (ngSubmit)="addItem(addForm.value)" 
        style="display: flex">
        <button type="submit" class="btn btn-secondary btn">Добавить</button>
        <input class="form-control inp" type="number" 
          name="quantity" placeholder="Количество товара"
          ngModel/>
      </form>
  </div>
</div>