.header {
    background-color: antiquewhite;
    text-align: center;
    color: rgb(197, 119, 197);
}

.pannier {
    background-color: rgb(136, 233, 199);
    text-align: center;
    color: rgb(233, 75, 233);
}

.items {
    padding: 0px;
    margin: 0px;
}

.btn {
    background-color: rgb(226, 85, 226);
}