.header {
    background-color: #05386b;
    text-align: center;
    color: #edf5e1;
    margin: 0px;
    padding: 0px;
}

.pannier {
    background-color: #379683;
    text-align: center;
    color: #8ee4af;
}

/*
.header {
    background-color: antiquewhite;
    text-align: center;
    color: rgb(197, 119, 197);
}

.pannier {
    background-color: rgb(136, 233, 199);
    text-align: center;
    color: rgb(233, 75, 233);
}

.items {
    padding: 0px;
    margin: 0px;
}

.btn {
    background-color: rgb(226, 85, 226);
}
*/